html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #ffffff url('../img/geometry2.png');
	/* Background pattern from Subtle Patterns */
	font-family: 'Coda', cursive;
}

.container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}


h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

#deck {
	width: 660px;
	min-height: 680px;
	background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
	padding: 32px;
	border-radius: 10px;
	-webkit-box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
	box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 0 3em;
}

#deck .card {
	height: 125px;
	width: 125px;
	background: #2e3d49;
	font-size: 0;
	color: #ffffff;
	border-radius: 8px;
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
	box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
	-webkit-transition: all 500ms ease 200ms;
	transition: all 500ms ease 200ms;
}

#deck .card.open {
	-webkit-transform: rotateY(0);
	transform: rotateY(0);
	background: #02b3e4;
	cursor: default;
}

.show {
	-webkit-transform: rotateY(360deg);
	transform: rotateY(360deg);
	background: #02b3e4 !important;
	font-size: 40px !important;
}

#deck .card.match {
	cursor: default;
	background: #02ccba;
	font-size: 33px;
	-webkit-animation: match-anim 800ms ease-out;
	animation: match-anim 800ms ease-out;
}

@-webkit-keyframes match-anim {
	20% {
		-webkit-transform: scale(1.2, 0.6);
		transform: scale(1.2, 0.6);

	}
	40% {
		-webkit-transform: scale(0.6, 1.2);
		transform: scale(0.6, 1.2);
	}
	60% {
		-webkit-transform: scale(1.2, 0.6);
		transform: scale(1.2, 0.6);
	}
	80% {
		-webkit-transform: scale(0.6, 1.2);
		transform: scale(0.6, 1.2);
	}
}

@keyframes match-anim {
	20% {
		-webkit-transform: scale(1.2, 0.6);
		transform: scale(1.2, 0.6);

	}
	40% {
		-webkit-transform: scale(0.6, 1.2);
		transform: scale(0.6, 1.2);
	}
	60% {
		-webkit-transform: scale(1.2, 0.6);
		transform: scale(1.2, 0.6);
	}
	80% {
		-webkit-transform: scale(0.6, 1.2);
		transform: scale(0.6, 1.2);
	}
}

.wrong {
	-webkit-animation: wrong 1s ease-in-out;
	animation: wrong 1s ease-in-out;
	background-color: #dd4132 !important;
}

@-webkit-keyframes wrong {

	0% {
		-webkit-transform: rotate(15deg) translate(20px, -3px);
		transform: rotate(15deg) translate(20px, -3px);

	}
	25% {
		-webkit-transform: rotate(-15deg) translate(-20px, 3px);
		transform: rotate(-15deg) translate(-20px, 3px);
	}
	50% {
		-webkit-transform: rotate(10deg) translate(15px, 0);
		transform: rotate(10deg) translate(15px, 0);
	}
	75% {
		-webkit-transform: rotate(-10deg) translate(-15px, 0);
		transform: rotate(-10deg) translate(-15px, 0);
	}
	100% {
		-webkit-transform: rotate(0) translate(0, 0);
		transform: rotate(0) translate(0, 0);
	}
}

@keyframes wrong {

	0% {
		-webkit-transform: rotate(15deg) translate(20px, -3px);
		transform: rotate(15deg) translate(20px, -3px);

	}
	25% {
		-webkit-transform: rotate(-15deg) translate(-20px, 3px);
		transform: rotate(-15deg) translate(-20px, 3px);
	}
	50% {
		-webkit-transform: rotate(10deg) translate(15px, 0);
		transform: rotate(10deg) translate(15px, 0);
	}
	75% {
		-webkit-transform: rotate(-10deg) translate(-15px, 0);
		transform: rotate(-10deg) translate(-15px, 0);
	}
	100% {
		-webkit-transform: rotate(0) translate(0, 0);
		transform: rotate(0) translate(0, 0);
	}
}


/*
 * Styles for the Score Panel
 */

.score-panel {
	text-align: left;
	width: 345px;
	margin-bottom: 10px;
}

.score-panel .stars {
	margin: 0;
	padding: 0;
	display: inline-block;
	margin: 0 5px 0 0;
}

.score-panel .stars li {
	list-style: none;
	display: inline-block;
}

.score-panel #restart {
	float: right;
	cursor: pointer;
}

#timer {
	display: inline-block;
	margin-left: 20px;
}

.fa-repeat:hover {
	font-size: 20px;
	font-weight: bold;
}


.popup-content {
	visibility: hidden;
	position: absolute;
	margin: 0 auto;
	padding: 20px;
	left: 25%;
	top: 30%;
	width: 50%;
	color: #fff;
	background: linear-gradient(130deg, #aa7ecd 0%, #02ccba 100%);
	border-radius: 20px;
	text-align: center;
}

.popup-content i[class ~='fa-trophy'] {
	font-size: 50px;
	color: #02ccba;
	display: block;
	padding-top: 10px;
}


#stars {
	padding: 0;
	font-size: 40px;
	list-style: none;
	display: inline-block;
	color: gold;
}

#stars li {
	padding-left: 5px;
	list-style: none;
	display: inline-block;
}

#replay {
	background: limegreen;
	border-radius: 10px;
	padding: 5px;
	width: 30%;
	margin: 5px auto;
	cursor: pointer;
}

#replay:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.success {
	-webkit-animation: show 1s;
	animation: show 1s;
	visibility: visible;
	z-index: 0;
	opacity: 1 !important;
}

@-webkit-keyframes show {
	0% {
		-webkit-transform: scale(.5);
		transform: scale(.5);
	}

	45% {
		-webkit-transform: scale(1.25);
		transform: scale(1.25);
	}

	80% {
		-webkit-transform: scale(.75);
		transform: scale(.75);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes show {
	0% {
		-webkit-transform: scale(.5);
		transform: scale(.5);
	}

	45% {
		-webkit-transform: scale(1.25);
		transform: scale(1.25);
	}

	80% {
		-webkit-transform: scale(.75);
		transform: scale(.75);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
